<%%= content_for :sidebar do %>
  <h3>Actions</h3>
  <ul>
    <li><%%= link_to "Add new", new_admin_<%= singular_name %>_path %></li>
  </ul>
<%% end %>

<h2><%= model_name.pluralize.humanize %></h2>

<table class="sortable">
  <thead>
    <tr>
      <%= table_column_headers %>
    </tr>
  </thead>
  <tbody>
    <%% @<%= resources_name %>.each do |<%= singular_name %>| %>
      <tr>
        <%= table_rows %>
      </tr>
    <%% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>